/* This is a magic comment. Quarto will refuse to render without it.  */
/*-- scss:rules --*/

/* This fixes a bug where dateRangeInput is rendered too thin to display its contents */
.input-group>.form-control, .input-group>.form-select, .input-group>.form-floating {
  width: 100%;
}

.bslib-sidebar-layout>.sidebar .shiny-input-container {
  width: 90%;
}

/* Flex causes options to weirdly spaced out by default */
#map_country_input, #card-6-card-sidebar > div > div:nth-child(1) {
  flex: none;
}

/* This is  the budget slider, which by default is too far left to render correctly */
#card-6-card-sidebar > div > div:nth-child(2) > div {
  padding-left: 8%;
}